
<div class="jumbotron center">
    <h1>Welcome to my Pinterested App</h1>
    
    <p>It's pretty cool huh</p>
    
    <%= link_to "Login", new_user_session_path, class: "btn btn-default" %>
    <%= link_to "Join", new_user_registration_path, class: "btn btn-primary" %>

</div>
